.t-regular{
    font-size: 0.875em !important;
}
.pointer{
    cursor: pointer !important;
}
.w-xs{
    max-width: 4em;
}
.w-s{
    max-width: 8em;
}
.w-d{
    max-width: 12em;
}
.w-l{
    max-width: 16em;
}
#notificacionesa{
    display:none;
}
@media only screen and (max-width: 900px) and (orientation: portrait){
    .modal-dialog {
        max-width: 100% !important;
        /* margin: 1.75rem auto; */
    }
    .modal-xl {
        width: 98% !important;
    }
}
@media (max-width: 576px){
    .modal-dialog {
        max-width: 100% !important;
        /* margin: 1.75rem auto; */
    }
    .modal-xl {
        width: 98% !important;
    }
}
